@import '../../styles.scss';

.Helper {
    height: vw(76);
    min-width: vw(79);
    width: max-content;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    border-radius: 10px;

    cursor: pointer;

    padding: 0 vw(16);
    transition: padding ease 0.25s;

    > svg {
        width: vw(47);
        height: auto;
    }

    &-text {
        color: #fff;
        font-size: vw(25);
        margin-right: vw(17);
        margin-left: vw(14);
        user-select: none;
    }

    &.expanded {
        background: #89b5f7;
        padding: 0 vw(27);
    }
}
