.StartPage {
    height: 100%;
    width: 100%;
    display: flex;
    

    &-info, &-auth {
        width: 50%;
        height: 100%;
        // background: #000;
    }

    &-auth {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}