@import '../../styles.scss';

.MergingDataset {
    position: relative;

    background: #fff;
    border-radius: 10px;

    width: 100%;
    min-height: vw(176);

    padding: vw(40);
    padding-right: vw(80);

    margin-bottom: vw(25);

    display: flex;

    &:last-child {
        margin-bottom: 0;
    }

    &-collapsed {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &-expanded {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .MergingDataset {
            &-title {
                margin-top: vw(6);
                margin-bottom: 0;
                width: vw(240);
                margin-right: vw(20);
            }
            &-info {
                width: 100%;

                flex-direction: row;
            }
            &-price {
                margin-left: auto;
                &-value {
                    margin-bottom: 0;
                }
            }
            &-add-filter {
                margin-top: vw(26);
                height: vw(40);
                border-radius: vw(10);
                background-color: #89b5f7;
                font-size: vw(18);
                color: #ffffff;

                user-select: none;
            }
        }
    }

    &-arrow {
        width: vw(20);
        height: auto;

        cursor: pointer;

        position: absolute;
        top: vw(82);
        right: vw(30);

        transform: rotateZ(0deg);
        transition: transform 0.15s ease 0s, top 0.15s ease 0s;

        * {
            fill: #89b5f7;
        }

        &.rotate {
            top: vw(62);
            transform: rotateZ(180deg);
        }
    }

    &-info {
        display: flex;
        flex-direction: column;

        width: vw(380);
    }

    &-title {
        margin-top: vw(6);
        margin-bottom: vw(26);
        font-weight: 600;
        font-size: vw(18);
        line-height: vw(24);

        user-select: none;
    }

    &-tags {
        display: flex;
    }

    &-fields {
        width: 100%;

        display: flex;
        flex-direction: row;

        overflow-x: auto;
        // z-index: 150;

        &::-webkit-scrollbar {
            display: none;
        }

        &-holder {
            width: vw(480);
            // overflow: hidden;
        }

        &-bottom-holder {
            width: vw(1060);
            overflow: hidden;
            margin-top: vw(25);
            .DatasetField {
                margin-right: vw(50);
            }
        }
    }

    &-add {
        background-color: #f4f7fa;
        min-width: vw(120);
        min-height: vw(95);

        border-radius: vw(10);

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        transition: background 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s;

        &.inactive {
            background: #fafcfd;
            color: #aaaaaa;
            cursor: default;
        }
    }

    &-addition {
        height: vw(215);
        margin-top: vw(25);
        display: flex;

        &-left {
            display: flex;
            flex-direction: column;

            width: vw(310);

            color: #89b5f7;

            margin-right: vw(70);
        }

        &-info {
            flex: 0 0 vw(95);
            border-radius: vw(10);
            background-color: #f4f7fa;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: vw(16);

            &-top {
                font-size: vw(18);
            }

            &-input {
                font-size: vw(18);
                line-height: vw(24);
                font-weight: 500;
                color: #010101;

                padding: 0 vw(20);

                border: none;
                background: none;
                text-align: center;
            }

            & + & {
                margin-top: vw(25);
            }

            .Dropdown {
                &-selected {
                    background-color: #f4f7fa;
                    &-text {
                        color: #89b5f7;
                    }
                }
                &-items {
                    background-color: #f4f7fa;
                    &::before {
                        background: #89b5f7;
                    }
                }
                &-item {
                    color: #89b5f7;
                }
                &-line {
                    background: #89b5f7;
                }
                &-arrow > path {
                    fill: #89b5f7;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
        }

        &-fields {
            flex: 1 1 auto;
            background-color: #f4f7fa;
            color: #89b5f7;
            font-weight: 600;
            font-size: vw(18);
            margin-bottom: vw(25);
            border-radius: vw(10);
            padding: vw(16) vw(20);
            &-title {
                margin-bottom: vw(16);
                text-align: center;
            }
            &-body {
                display: flex;
                .Dropdown + .Dropdown {
                    margin-left: vw(20);
                }
                .Dropdown {
                    &-selected {
                        padding: vw(13) vw(20);
                    }
                }
            }
        }

        &-buttons {
            height: vw(60);
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &-button {
            padding: 0 vw(18);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f4f7fa;
            color: #89b5f7;
            font-weight: 600;
            font-size: vw(18);
            height: 100%;
            border-radius: vw(10);
            & + & {
                margin-left: vw(30);
            }

            &.blue {
                background-color: #89b5f7;
                color: #ffffff;
            }
        }
    }

    &-price {
        margin-top: vw(6);
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        color: #000;

        &-value {
            font-size: vw(18);
            font-weight: 700;
            line-height: vw(24);
            margin-bottom: vw(20);

            user-select: none;
        }
    }

    &-rows {
        font-size: vw(14);
        line-height: vw(24);
        font-weight: 300;

        user-select: none;
    }
}
