@import '../../styles.scss';

.MergingDataset {
    position: relative;

    background: #fff;
    border-radius: 10px;

    width: 100%;
    min-height: vw(176);

    padding: vw(40);
    padding-right: vw(80);

    margin-bottom: vw(25);

    display: flex;

    &:last-child {
        margin-bottom: 0;
    }

    &-collapsed {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &-expanded {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .MergingDataset {
            &-title {
                margin-top: vw(6);
                margin-bottom: 0;
                width: vw(240);
                margin-right: vw(20);
            }
            &-info {
                width: 100%;

                flex-direction: row;
            }
            &-price {
                margin-left: auto;
                &-value {
                    margin-bottom: 0;
                }
            }
            &-add-filter {
                margin-top: vw(26);
                height: vw(40);
                border-radius: vw(10);
                background-color: #89b5f7;
                font-size: vw(18);
                color: #ffffff;

                user-select: none;
            }
        }
    }

    &-arrow {
        width: vw(20);
        height: auto;

        cursor: pointer;

        position: absolute;
        top: vw(82);
        right: vw(30);

        transform: rotateZ(0deg);
        transition: transform 0.15s ease-in-out 0s;

        * {
            fill: #89b5f7;
        }

        &.rotate {
            top: vw(62);
            transform: rotateZ(180deg);
        }
    }

    &-info {
        display: flex;
        flex-direction: column;

        width: vw(380);
    }

    &-title {
        margin-top: vw(6);
        margin-bottom: vw(26);
        font-weight: 600;
        font-size: vw(18);
        line-height: vw(24);

        user-select: none;
    }

    &-tags {
        display: flex;
    }

    &-fields {
        width: 100%;

        display: flex;
        flex-direction: row;

        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &-holder {
            width: vw(480);
            overflow: hidden;
        }
    }

    &-price {
        margin-top: vw(6);
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        color: #000;

        &-value {
            font-size: vw(18);
            font-weight: 700;
            line-height: vw(24);
            margin-bottom: vw(20);

            user-select: none;
        }
    }

    &-rows {
        font-size: vw(14);
        line-height: vw(24);
        font-weight: 300;

        user-select: none;
    }
}
