@import '../../styles.scss';

.MainPage {
    width: 100%;
    height: 100%;

    position: absolute;

    background: #f4f7fa;
    padding: vw(150) vw(70);

    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-filters {
        width: max-content;
        display: flex;
    }

    &-helper {
        height: vw(76);
        width: vw(79);

        display: flex;
        align-items: center;
        justify-content: center;

        background: #fff;
        border-radius: 10px;

        > svg {
            width: vw(53);
            height: auto;
        }
    }

    .DirectionFilter {
        margin-right: vw(20);

        &:last-child {
            margin-right: 0;
        }
    }
}
