@import '../../styles.scss';

.DatasetItem {
    display: flex;
    align-items: center;

    background: #fff;
    border-radius: 10px;

    padding: vw(40);

    &.big {
        padding-right: vw(80);

        > .DatasetItem-info {
            flex: 1 1 auto;
        }
    }

    &-icon {
        width: vw(100);
        height: vw(100);

        margin-right: vw(40);
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: vw(12.5) 0;

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            > .DatasetItem-info-title {
                margin-bottom: 0;
                margin-right: vw(18);
            }

            > .DatasetItem-info-price {
                margin-right: 0;
            }
        }

        &-title {
            font-size: vw(18);
            font-weight: 500;
            margin-bottom: vw(27);

            white-space: nowrap;
        }

        &-price {
            font-weight: 700;
            font-size: vw(18);

            margin-right: vw(20);

            &-holder {
                display: flex;
                align-items: center;
                width: 100%;
            }
        }

        &-rows {
            font-size: vw(14);
            font-weight: 300;
            white-space: nowrap;
        }

        &-tags {
            display: flex;
            align-items: center;
            margin-right: vw(40);
        }
    }
}
