@import '../../styles.scss';

.DatasetField {
    position: relative;

    min-width: vw(120);
    min-height: vw(95);

    margin-right: vw(70);

    border-radius: vw(10);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background: #f4f7fa;
    color: #000;

    cursor: pointer;

    transition: background 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s;

    &.inactive {
        background: #fff;
        color: #89b5f7;
    }

    &:last-child {
        margin-right: 0;
    }

    &-link {
        position: absolute;
        top: vw(-13.5);
        left: vw(-13.5);

        width: vw(27);
        height: vw(27);
    }

    &-delete {
        position: absolute;
        width: vw(29);
        height: vw(29);

        top: vw(-10);
        left: vw(-10);
    }

    &-name {
        font-size: vw(18);
        line-height: vw(24);
        font-weight: 700;

        margin-bottom: vw(13);

        user-select: none;
    }

    &-value {
        font-size: vw(14);
        line-height: vw(24);
        font-weight: 700;

        user-select: none;
    }

    &.selected {
        background: #89b5f7;
        color: #fff;
    }
}
