@import '../../styles.scss';

.MergingPage {
    width: 100%;
    height: 100%;

    position: absolute;

    background: #f4f7fa;
    padding: vw(150) vw(70);

    display: flex;
    flex-direction: column;

    &-header {
        display: flex;
        width: 100;
        justify-content: space-between;
        margin-bottom: vw(25);

        &-controls {
            display: flex;
        }

        &-button {
            width: vw(80);
            height: vw(75);
            margin-right: vw(20);

            display: flex;
            align-items: center;
            justify-content: center;

            background: #fff;
            border-radius: 10px;

            cursor: pointer;

            > svg {
                width: vw(45);
                height: auto;
            }
        }

        .Dropdown {
            &.expanded {
                box-shadow: 0 4px 40px 5px rgba(0, 0, 0, 0.12);
            }

            &-selected {
                background: #fff;
                height: 100%;

                &-text {
                    color: #89b5f7;
                    font-weight: 700;
                    font-size: vw(24);
                    line-height: vw(24);
                }

                svg {
                    * {
                        fill: #89b5f7;
                    }
                }
            }

            &-items {
                box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.12);

                background: #fff;

                top: vw(70);

                &::before {
                    background: #89b5f7;
                }
            }

            &-item {
                color: #89b5f7;
            }

            &-line {
                background: #89b5f7;
            }
        }
    }

    &-layout {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
    }

    &-datasets {
        display: flex;
        flex-direction: column;
        &-wrapper {
            flex: 1 1 auto;
            margin-right: vw(20);
            overflow-y: auto;
        }
    }

    &-controls {
        height: vw(574);
        width: vw(580);
        background: #fff;
        border-radius: 10px;

        padding: vw(70) vw(100) vw(57) vw(100);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-field {
            height: vw(50);
            width: 100%;
            background: #f4f7fa;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0 vw(20);

            &-text {
                font-size: vw(18);
                line-height: vw(24);
                color: #010101;

                width: max-content;
                user-select: none;
            }
        }

        &-arrow {
            height: vw(25);
            width: auto;
        }

        &-result {
            height: vw(50);
            width: 100%;
            background: #f4f7fa;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: vw(18);
            line-height: vw(24);
            font-weight: 500;
            color: #010101;

            padding: 0 vw(20);

            border: none;

            text-align: center;

            &::placeholder {
            }

            &:focus {
                outline: none;
            }
        }

        &-button {
            border-radius: 10px;
            background: #89b5f7;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: vw(18);
            line-height: vw(24);
            font-weight: 700;
            padding: vw(12) vw(58);
            margin-top: vw(20);

            user-select: none;
            cursor: pointer;
        }
    }
}
