@import '../../styles.scss';

.Header {
    position: fixed;
    padding: vw(58) vw(70) 0 vw(70);
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    z-index: 999;

    &-logo {
        width: auto;
        height: vw(53);
    }

    &-user {
        width: auto;
        height: vw(54);
        cursor: pointer;

        &-holder {
            width: vw(79);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}