.HelperIcon {
    &-body {
        transition: stroke ease 0.25s;
        stroke: rgba($color: #89b5f7, $alpha: 1);
    }

    &.expanded {
        .HelperIcon-body {
            stroke: rgba($color: #ffffff, $alpha: 1);
        }
    }
}
